---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for item in collections.all %}
    <url>
        <loc>{{ item.url | url | absoluteUrl(siteconfig.url) }}</loc>
        <lastmod>{{ item.date | isodate }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>0.7</priority>
    </url>
    {% endfor %}
</urlset>