---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for item in collections.all %}
    {% if item.url and item.url != '/utils/404/' %}
    <url>
        <loc>{{ item.url | url | absoluteUrl(siteconfig.url) }}</loc>
        <lastmod>{{ item.date | isodate }}</lastmod>
        <changefreq>{% if item.data.layout == 'post' %}weekly{% else %}monthly{% endif %}</changefreq>
        <priority>{% if item.url == '/' %}1.0{% else %}0.7{% endif %}</priority>
    </url>
    {% endif %}
    {% endfor %}
</urlset>