<div class="flex justify-end md:hidden">
    <button id="hamburger" class="p-2">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>
</div>
<div id="sidebar-contents" class="dark:bg-sidebar-dark bg-sidebar-light grid-cols-1 gap-4 pt-8 h-screen grid w-56 xl:w-72 w-[100%] md:grid">
    <div>
        <a href="/">
            <img alt="{{ siteconfig.imageAlt }}" src="{{ siteconfig.image }}" class="rounded-full h-36 border dark:border-gray-100 border-indigo-600" height="144px" width="144px" />
        </a>
        <div class="text-center font-semibold pt-6 text-gray-400">
            <a href="/" class="mx-auto">{{ siteconfig.title }}</a>
        </div>
    </div>
    <div class="menu flex justify-center">
        <ul class="w-fit list-none pl-0">
            {% for item in navigation %}
            <li class="navitem flex gap-4 {% if item.isHome %}{{ page.url | isHomeLink(item.url) }}{% elif item.activePath %}{{ page.url | isActiveLink(item.activePath) }}{% endif %}">
				<div>
					<i class="fa-solid {{ item.icon }}"></i>
				</div>
                <a href="{{ item.url }}" class="block no-underline">{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row-end-5 flex justify-center gap-5 mb-12">
        
        {% if siteconfig.socialLinkedIn %}
        <a href="https://linkedin.com/in/{{ siteconfig.socialLinkedIn }}" aria-label="Open LinkedIn profile" target="_blank" class="w-5 h-5" rel="noopener">
            <i class="fa-brands fa-square-linkedin"></i>
        </a>
        {% endif %}
        {% if siteconfig.socialGitHub %}
        <a href="https://github.com/{{ siteconfig.socialGitHub }}" aria-label="Open GitHub profile"  target="_blank" class="w-5 h-5" rel="noopener">
            <i class="fa-brands fa-github"></i>
        </a>
        {% endif %} 
		<a href="mailto:ruldak3306@gmail.com" aria-label="Open YouTube channel"  target="_blank" class="w-5 h-5" rel="noopener">
       		<i class="fa-solid fa-envelope"></i>
		</a>
    </div>
</div>
