---
eleventyExcludeFromCollections: true
layout: base.njk
title: Welcome
meta:
  robots:
    value: noindex
---

<section class="hero">
  <div class="content">
    <h2>Convert More Visitors</h2>
    	<p>Custom-designed to grab attention, build trust, and drive action — without the fluff.</p>
    </div>
</section>
