---
layout: base.njk
title: Welcome
---

<!-- 
  Hero Section
  Source: https://codepen.io/KrzysiekF/pen/oNNLwZq
  Author: Krzysztof Furtak
  License: MIT (See THIRD-PARTY-LICENSES.md)
-->
<section class="hero">
  <div class="content">
    <h2>Convert More Visitors</h2>
    	<p>Custom-designed to grab attention, build trust, and drive action — without the fluff.</p>
		<!-- From Uiverse.io by cssbuttons-io --> 
		<button onclick="window.location.href='/portofolio/'">See Our Works</button>
    </div>
</section>
