---
eleventyExcludeFromCollections: true
layout: base.njk
title: Welcome
meta:
  robots:
    value: noindex
---

<section class="hero">
  <div class="content">
    <h2>Hero Header</h2>
    	<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non</p>
    </div>
</section>
