---
eleventyExcludeFromCollections: true
layout: page.njk
title: Portofolio
meta:
  robots:
    value: noindex
---

<div class="card-portofolio-container">
	<!-- From Uiverse.io by gharsh11032000 --> 
	<div class="card">
  		<img src="/assets/images/opengraph.jpg" alt="Portofolio Image">
  		<div class="card__content">
    		<p class="card__title">Card Title
    		</p>
			<p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</p>
  		</div>
	</div>
</div>
