---
eleventyExcludeFromCollections: true
layout: page.njk
title: Portofolio
meta:
  robots:
    value: noindex
---

<div class="card-portofolio-container">
	<!-- From Uiverse.io by gharsh11032000 --> 
	<a href="https://digital-skill-six.vercel.app/" class="card">
  		<img src="/assets/images/digital_skill_landing_page_screenshot.png" alt="Portofolio Image">
  		<div class="card__content">
    		<p class="card__title">Card Title
    		</p>
			<p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</p>
  		</div>
	</a>
	<a href="https://wedding-photographer-landing-page.vercel.app/" class="card">
  		<img src="/assets/images/wedding_photographer_landing_page_screenshot.png" alt="Portofolio Image">
  		<div class="card__content">
    		<p class="card__title">Card Title
    		</p>
			<p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</p>
  		</div>
	</a>
</div>
