---
eleventyExcludeFromCollections: true
layout: page.njk
title: Portofolio
meta:
  robots:
    value: noindex
---

<!-- 
  Portfolio Card Component
  Source: https://codepen.io/joshuacba08-the-encoder/pen/VwpJevo
  Author: Joshua ジョスエ
  License: MIT (See THIRD-PARTY-LICENSES.md)
-->
<div class="card-portofolio-container">
	{% for item in portofolio %}
    <div class="card-in-1024 bg-transparent h-[fit-content] w-72 md:mb-5 md:h-56 md:w-56 lg:w-72 lg:h-72">
      <div class="h-[144px] w-full">
        <img class="w-full h-full object-fill rounded-t" src="{{ item.image }}" alt="{{ item.alt }}">
      </div>
      <div class="w-full p-3">
        <a href="{{ item.link }}" class=" hover:text-yellow-600 text-gray-700">
          <span class="lg:text-lg md:text-sm font-semibold uppercase tracking-wide ">{{ item.title }}</span>
        </a> 
      </div>
    </div>
	{% endfor %}
</div>
