---
layout: page.njk
title: Our Sevices
---

<div class="card-container">
	<!-- From Uiverse.io by satyamchaudharydev --> 
	{% for service in services %}
	<div class="card">
  		<div class="icon">
    		<i class="fa-solid {{ service.icon }} fa-2x"></i>	
  		</div>
  		<strong>{{ service.title }}</strong>
 		<div class="card__body">{{ service.body }}</div>
	</div>
	{% endfor %}
</div>
