---
eleventyExcludeFromCollections: true
layout: page.njk
title: Our Sevices
meta:
  robots:
    value: noindex
---

<div class="card-container">
	<!-- From Uiverse.io by satyamchaudharydev --> 
	<div class="card">
  		<div class="icon">
    		<i class="fa-solid fa-alarm-clock fa-2x"></i>	
  		</div>
  		<strong> Instagram </strong>
 		<div class="card__body">Get UI elements that help you stand out.</div>
	</div>
</div>
