---
eleventyExcludeFromCollections: true
layout: page.njk
title: About Me
---

<div class="about-container">
	<h1>Who I Am</h1>
	<p>I specialize in creating custom landing pages designed to help businesses establish a strong online presence and increase conversions.

With a focus on clean design, fast performance, and clear messaging, I work closely with clients — especially small to medium-sized businesses — to ensure their products or services are presented in the most effective way possible.

Whether you're launching a new business or looking to improve your current website, I can help you build a landing page that not only looks professional but also delivers results.</p>
</div>
